---
import { type CollectionEntry, getCollection } from 'astro:content';
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
    const posts = await getCollection('blog');
    return posts.map((post) => ({
        params: { slug: post.slug },
        props: post,
    }));
}

type Props = CollectionEntry<'blog'>;

const { slug } = Astro.params;
const posts = await getCollection('blog');
const post = posts.find((p) => p.slug === slug);

if (!post) {
    throw new Error("Post not found");
}

const { Content } = await post.render();
---
<Layout
    {...post.data}
    title={post.data.title}
    description={post.data.description}
    ogTitle={post.data.title}
    ogDescription={post.data.description}
    ogUrl={`https://techit.win/blog/${post.slug}`}
>
    <main>
        <section class="head">
            <div class="container md:text-start">
                <p>BLOG POST</p>
                <p class="heading">{post.data.title}</p>
                <p class="text-lg">{post.data.description}</p>
            </div>
        </section>
        <section class="i9d2">
            <div class="container md:text-start">
                <Content/>
            </div>
        </section>
    </main>
</Layout>

<style>
    .head {
        align-items: center;
        display: flex;
        flex-direction: column;
        background-color: rgba(var(--md-sys-color-primary));
        color: rgba(var(--md-sys-color-on-primary));
    }
    .i9d2 {
        pre {
            padding: 1rem;
            border-radius: 8px;
            font-size: 14px;
        }
        p {
            a {
                text-decoration: underline;
            }
        }
        img {
            margin: 1rem 0;
        }
    }
</style>