---
import { navItems, externalLinks } from '../config/navitems';
import Logo from "../components/Logo.astro";
const currentPath = Astro.url.pathname;
---
<div>
    <nav class="topbar">
        <div class="topbar-container">
            <div class="items-start">
                <a class="flex flex-row items-center gap-2" href="/">
                    <Logo size="36" color="rgba(var(--md-sys-color-on-surface))"/>
                </a>
            </div>
            <div class="items-end hidden md:flex flex-row">
                {navItems.map((item) => (
                        <a href={item.href} tabindex="1" class={`${item.href} topbar-navitem${currentPath === item.href ? ' active' : ''}`}>{item.label}</a>
                ))}
                {externalLinks.map((item) => (
                        <a href={item.href} tabindex="1" rel="nofollow noreferrer noopener" target="_blank" class={`${item.href} topbar-navitem${currentPath === item.href ? ' active' : ''}`}><i class="ph ph-arrow-square-out text-xl"></i>{item.label}</a>
                ))}
            </div>
            <div class="items-end flex md:hidden flex-row">
                <label for="drawer-toggle" class="drawer-actual-toggle btn has-ripple btn-tonal"><i class="ph ph-list"></i></label>
            </div>
        </div>
    </nav>

    <!-- Drawer Structure -->
    <input type="checkbox" id="drawer-toggle" class="drawer-toggle">
    <aside class="drawer">
        <div class="drawer-content">
            <label for="drawer-toggle" class="drawer-actual-toggle btn has-ripple btn-tonal mb-4"><i class="ph ph-x"></i></label>
            {navItems.map((item) => (
                    <a href={item.href} class={`drawer-item${currentPath === item.href ? ' active' : ''}`}>
                        {item.label}
                    </a>
            ))}
            {externalLinks.map((item) => (
                    <a href={item.href} class={`drawer-item${currentPath === item.href ? ' active' : ''}`}>
                        <i class="ph ph-arrow-square-out text-xl"></i>
                        {item.label}
                    </a>
            ))}
        </div>
    </aside>
    <div class="drawer-overlay"></div>
</div>
